<!DOCTYPE html>
<html lang="ja">

 <head>
    <title>bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!下の部分は消しちゃダメ！>
    <script src="https://kit.fontawesome.com/f0e983ff20.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

 <body>
   <p id="notice"></p>
   <div class="container">
     <div class="row">
       <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
         <h2>User info</h2>info
         <div class="field">
           <%= f.label :name %><br>
           <%= f.text_field :name %>
         </div>
         <h4>Image</h4>
           <%= f.file_field :image %>


           <%= f.submit '投稿' %>

       </div>
     </div>
   </div>
 </body>