<!DOCTYPE html>
<html lang="ja">

 <head>
    <title>bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!下の部分は消しちゃダメ！>
    <script src="https://kit.fontawesome.com/f0e983ff20.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
    <%= render 'info', book: @book, user: current_user %>
  <div class="col-md-8 offset-md-1">
    <h2>Users</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <td>
            <div class="link-item">
          <%= link_to user_path(user.id), class:"nav-link text-blue" do %>
          Show
          <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
  </div>
</main>