<!DOCTYPE html>
<html lang="ja">

 <head>
    <title>bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!下の部分は消しちゃダメ！>
    <script src="https://kit.fontawesome.com/f0e983ff20.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

 <body>
     <p id="notice"></p>
   <div class="container">
     <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
       <div class="btn-wraper col-10 mx-auto">
         <div class="row">
           <h1>Editing Book</h1>
            <div class="form-group">
        <%= form_with model: @book do |f| %>
          <div class="field">
           <label for="book_title">Title</label><br>
        <%= f.text_field :title %>
          </div>

          <div class="field">
           <label for="book_body">opinion</label><br>
        <%= f.text_area :opinion %>
          </div>

        <%= f.submit 'Update Book', class:"btn btn-success" %>
        <% end %>
      </div>
         </div>
      </div>
     </div>
   </div>
 </body>